{% include 'home/header.html' %}
{% include 'home/instructor_sidenav.html' %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


	<div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid">			
				<div class="row">
					<div class="col-lg-10 col-md-4 col-sm-9">	
                        <h2 class="st_title"><i class="uil uil-book-alt"></i>Courses</h2>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-3">	
                        <a href="{% url 'home:create_new_course' %}"><i class="fas fa-plus-circle"></i></a>
                    </div>	
                    						
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="my_courses_tabs">
							<div class="tab-content">
								<div class="tab-pane active"  role="tabpanel">
									<div class="table-responsive mt-30">
										<table class="table ucp-table">
											<thead class="thead-s">
												<tr>
													<th class="text-center" scope="col">S No.</th>
													<th class="text-center" scope="col">Course ID</th>
													<th class="text-center" scope="col">Title</th>
													<th class="text-center" scope="col">Action</th>
												</tr>
											</thead>
											<tbody>
                                                {% for course in courses %}
                                                    <tr data-toggle="collapse" data-target="#demo5" class="accordion-toggle">
                                                        <td class="text-center">{{forloop.counter}}</td>
														<td class="cell-ta text-center">{{course.0}}</td>
														<td class="cell-ta text-center">{{course.1}}</td>
                                                        
                                                        <td class="text-center">
                                                            <a href="{% url 'home:action_course' course.0 %}" title="Edit" class="gray-s"><i class="uil uil-edit-alt"></i></a>
                                                            <!-- <a href="{% url 'home:action_course' course %}" title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>     -->
                                                        </td>
                                                        
                                                    </tr>
                                                    {% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

