{% load static %}
{% include 'home/base.html' %}
{% include 'admins/header.html' %}
{% include 'admins/sidenav.html' %}


<div class="wrapper">
    <div class="container">
        <div class="row justify-content-lg-center justify-content-md-center">
        
            <div class="col-lg-6 col-md-8">
                <div class="sign_form">
                    <h2>Add Teacher</h2>
                    <form action="{% url 'admins:add_new_teacher' %}" method="POST">
                        {% csrf_token %}
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh11 swdh19">
                                <i class="uil uil-user icon icon2"></i>
                                <input class="prompt srch_explore" type="text" name="email"  id="id_email" required="" maxlength="64" placeholder="Email">														
                            </div>
                        </div>
                        
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh11 swdh19">
                                <i class="uil uil-user icon icon2"></i>
                                <input class="prompt srch_explore" type="password" name="password"  id="id_password" required="" maxlength="64" placeholder="Password">															
                            </div>
                        </div>
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh11 swdh19">
                                <i class="uil uil-envelope icon icon2"></i>
                                <input class="prompt srch_explore" type="text" name="name"  id="id_name" required="" maxlength="64" placeholder="Name">															
                            </div>
                        </div>
                        
                        
                        <button class="login-btn" type="submit">Next</button>
                    </form>
                    
                </div>
                
            </div>				
        </div>				
    </div>				
</div>

