{% load static %}
{% include 'home/base.html' %}
{% load static %}
{% include 'home/base.html' %}
{% include 'admins/header.html' %}
{% include 'admins/sidenav.html' %}

<div class="wrapper">
    <div class="container">
        <div class="row justify-content-lg-center justify-content-md-center">
        
            <div class="col-lg-6 col-md-8">
                <div class="sign_form">
                    <h2>Upload excel file</h2>
                    <form action="{% url 'admins:upload_teachers' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" title="Upload excel file" name="excel_file" style="border: 1px solid black; padding: 5px;" required>
                    <p>
                    <button type="submit" value="Upload" class="btn1542 mt-30">Upload</button>
                    <!-- <button class="login-btn" type="submit">Next</button> -->
                    </form>
                    
                </div>
                
            </div>				
        </div>				
    </div>				
</div>

