<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu" >
        <div class="left_section">
            <br>
            <ul>
                <li class="menu--item">
                    <a href="{% url 'admins:admin_dashboard' %}" class="menu--link {{dashboard_active}}" title="Dashboard">
                        <i class="uil uil-apps menu--icon"></i>
                        <span class="menu--label">Dashboard</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="{% url 'admins:admin_students' %}" class="menu--link {{student_active}}" title="Students">
                        <i class='uil uil-users-alt menu--icon'></i>
                        <span class="menu--label">Students</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="{% url 'admins:admin_teachers' %}" class="menu--link {{teacher_active}}" title="Teachers">
                        <i class='uil uil-book-reader menu--icon'></i>
                        <span class="menu--label">Teachers</span>
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="left_section pt-2">
            <ul>
                <li class="menu--item">
                    <a href="{% url 'admins:admin_signout' %}" class="menu--link" >
                        <i class='uil uil-sign-out-alt menu--icon'></i>
                        <span class="menu--label"> Sign Out</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="#" class="menu--link {{feedback_active}}" title="Send Feedback">
                        <i class='uil uil-comment-alt-exclamation menu--icon'></i>
                        <span class="menu--label">Send Feedback</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>