{% load static %}
{% include 'home/header.html' %}
{% include 'home/instructor_sidenav.html' %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {font-family: 'Roboto', sans-serif;}

#slide {
    color: black;
    display: block;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: -33.5%;
  top: 60px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 5px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;

}

.card-header {
  background-color: #ffecec;
  border-color:  #ed2a26;
}

</style>
</head>
<body>
  <div class="wrapper">
      <div class="container">
        <div class="row">
					<div class="col-lg-10">	
            <h2 class="st_title">
              <i class="uil uil-book-alt"></i>
              {{lesson_name}}
            </h2>
            <h4>{{description}}</h4>
          </div>	
          <div class="col-lg-2">	
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #ed2a26; color: white;">Add Slide
              <!-- <span class="caret"></span> -->
              </button>
              
              <ul class="dropdown-menu">
                  <li><a href="#">Long Lesson</a></li>
                  <li><a href="#">Short Lesson</a></li>
                  <li><a href="#">Fill in the blanks</a></li>
                  <li><a href="#">MCQs</a></li>
                  <li><a href="#">True or False</a></li>
              </ul>
          </div>
          </div>         						
        </div>
        <br><br>
        <div class="row">
          <div class="col-lg-3">
            <div id="accordion">
              
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color: #ed2a26; text-decoration: none;">
                      Slide 1
                    </button>
                  </h5>
                </div>
            
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
                    <a href="#" title="Edit" class="gray-s"><i class="uil uil-edit-alt" style="color: #ed2a26;"></i></a>
                  </div>
                </div>
              </div>
              
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: #ed2a26; text-decoration: none;">
                      Slide 2
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
                    <a href="#" title="Edit" class="gray-s"><i class="uil uil-edit-alt" style="color: #ed2a26;"></i></a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: #ed2a26; text-decoration: none;">
                      Slide 3
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
                    <a href="#" title="Edit" class="gray-s"><i class="uil uil-edit-alt" style="color: #ed2a26;"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-9">
            <div style="padding: 20px; border: 2px solid #ed2a26; border-radius: 20px; background-color: #ffecec;">
              <div class="content">
                  <button class="btn btn-danger">Add Question</button>
                  <br>
                  <form method="POST" action="{% url 'home:platform' course lesson_name  %}">
                    {% csrf_token %}
                    <input placeholder="description" type="text" name="description" id="id_description" class="form-control" aria-label="Text input with checkbox" style="margin: 10px; padding: 20px; border: 1px solid black; border-radius: 8px;">
                    <input placeholder="Question" type="text" name="question" id="id_question" class="form-control" aria-label="Text input with checkbox" style="height:100px; width:100%; margin: 10px; padding: 20px; border: 1px solid black; border-radius: 8px;">
                    <div class="input-group mb-3">
                          <input placeholder="Option 1" type="text" name="option1" id="id_option1" class="form-control" aria-label="Text input with checkbox" style="margin: 10px; padding: 20px; border: 1px solid black; border-radius: 8px;">
                          <input placeholder="Option 2" type="text" name="option2" id="id_option2" class="form-control" aria-label="Text input with checkbox" style="margin: 10px; padding: 20px; border: 1px solid black; border-radius: 8px;">
                          <input placeholder="Option 3" type="text" name="option3" id="id_option3" class="form-control" aria-label="Text input with checkbox" style="margin: 10px; padding: 20px; border: 1px solid black; border-radius: 8px;">
                          <input placeholder="Option 4" type="text" name="option4" id="id_option4" class="form-control" aria-label="Text input with checkbox" style="margin: 10px; padding: 20px; border: 1px solid black; border-radius: 8px;">
                    </div>  
              </div>
                    <center><button class="btn btn-success" type="submit">SAVE</button></center>
            </form>
            <!-- <form method="POST" action="{% url 'home:addquestion' 2  %}">
              {% csrf_token %}
              <center><button class="btn btn-success" type="submit">SAVE SLIDE</button></center>
            </form> -->
          </div>
        </div>
        
        
      </div>
  </div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
