{% load static %}
{% include 'home/header.html' %}
{% include 'home/instructor_sidenav.html' %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {font-family: 'Roboto', sans-serif;}

#slide {
    color: black;
    display: block;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: -33.5%;
  top: 60px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 5px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;

}

.card-header {
  background-color: #ffecec;
  border-color:  #ed2a26;
}

</style>
</head>
<body>
  <div class="wrapper">
      <div class="container">
        <div class="row">
					<div class="col-lg-10">	
            <h2 class="st_title">
              <i class="uil uil-book-alt"></i>
              {{lesson_name}}
            </h2>
            <h4>{{description}}</h4>
          </div>	
          <div class="col-lg-2">	
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #ed2a26; color: white;">Add Slide
              <!-- <span class="caret"></span> -->
              </button>
              
              <ul class="dropdown-menu">
                  <li><a href="#Tutorial" aria-controls="tutorial">Tutorial</a></li>
                  <li><a href="#FillUps" onclick="repeatDivElement()">Fill in the blanks</a></li>
                  <li><a href="#ImageMCQs" aria-controls="ImageMCQs">MCQs (Image as options)</a></li>
                  <li><a href="#TextMCQs">MCQs (Text as options)</a></li>
                  <li><a href="#DragDropImage">Drag Drop Image</a></li>
                  <li><a href="#DragDropAudio">Drag Drop Audio</a></li>
                  <li><a href="#DragDropText">Drag Drop Text</a></li>
              </ul>
          </div>
          </div>         						
        </div>
        <br><br>
        <div class="row">
          <div class="col-lg-3">
            <div id="accordion">
              {% for slide in slides %}
                <div class="card">
                  <div class="card-header" id="heading{{slide.id}}">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{slide.id}}" aria-expanded="false" aria-controls="collapse{{slide.id}}" style="color: #ed2a26; text-decoration: none;">
                        {{slide.name}}
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapse{{slide.id}}" class="collapse" aria-labelledby="heading{{slide.id}}" data-parent="#accordion">
                    <div class="card-body">
                      {{slide.description}}
                      <a href="#" title="Edit" class="gray-s"><i class="uil uil-edit-alt" style="color: #ed2a26;"></i></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
          </div>
          <div class="col-lg-9">
            <div id="Tutorial">
              <form action="{% url 'home:platform' course lesson_name 0 %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="step-content">
                  <div class="step-tab-panel" id="tutorial">
                    <div class="tab-from-content">
                      <div class="title-icon">
                        <h3 class="title"><i class="uil uil-film"></i>Tutorial Content</h3>
                      </div>
                      <div class="course__form">
                        <div class="view_info10">
                          <div class="row">
                            <div class="col-lg-12 col-md-12">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Title</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="title" id="id_title" placeholder="Title">
                                </div>
                              </div>					
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-md-12">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Description</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="description" id="id_description" placeholder="Description">
                                </div>
                              </div>					
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-md-12">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Add Content</label>
                                <div class="ui left icon input swdh19">
                                  <textarea type="text" name="content" id="id_content" placeholder="Content" style="width: 100%; height: 300%;"></textarea>
                                </div>
                              </div>					
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-md-12">
                              <div class="ui search focus mt-30 lbel25">
                                <label>Upload Video File</label>
                              <input id="video_file" name="video_file" type="file">
                              </div>
                          </div>
                          </div>
                          <div class="header_center">
                            <button type="submit" class="btn1542">Submit</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>  
                </div>
              </form>
            </div>
            <div id="FillUps">
                <div class="step-content">
                  <div class="step-tab-panel">
                    <div class="tab-from-content">
                      <div class="title-icon">
                        <h3 class="title"><i class="uil uil-film"></i>Fill in the blanks</h3>
                      </div>
                      <div class="course__form">
                        <div class="view_info10">
                          <form action="{% url 'home:platform' course lesson_name 11 %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                              <div class="col-lg-10 col-md-10">															
                                <div class="ui search focus mt-30 lbel25">
                                  <label>Number of questions</label>
                                  <div class="ui left icon input swdh19">
                                    <input class="prompt srch_explore" type="text" name="number_1" id="id_number_1" placeholder="Number of questions" value="{{number_1}}">
                                    <button type="submit" class="btn1542">Submit</button>
                                  </div>
                                </div>					
                              </div>
                            </div>
                          </form>
                          <form action="{% url 'home:platform' course lesson_name 1 %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                          <div class="row">
                            <div class="col-lg-12 col-md-12">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Title</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="title" id="id_title" placeholder="Title">
                                </div>
                              </div>					
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-md-12">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Description</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="description" id="id_description" placeholder="Description">
                                </div>
                              </div>					
                            </div>
                          </div>
                          {% for i in number_1 %}
                          <div class="row" id="FILLUP">
                            <div class="col-lg-6 col-md-12" id="repeatFillUp">
                              <div class="ui search focus mt-30 lbel25">
                                <label>Upload Image File</label>
                              <input id="image_file{{i}}" name="image_file{{i}}" type="file">
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                              <div class="ui search focus mt-30 lbel25">
                                <label>Correct Answer</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="answer{{i}}" id="id_answer{{i}}" placeholder="Correct answer">
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                          <br>
                          <div class="header_center">
                            <button type="submit" class="btn1542">Submit</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>  
                </div>
              </form>
            </div>
            <div id="ImageMCQs">
              
                <div class="step-content">
                  <div class="step-tab-panel" >
                    <div class="tab-from-content">
                      <div class="title-icon">
                        <h3 class="title"><i class="uil uil-film"></i>MCQs (Image as Options)</h3>
                      </div>
                      
                      <div class="course__form">
                        <div class="view_info10">
                          <form action="{% url 'home:platform' course lesson_name 21 %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                              <div class="col-lg-10 col-md-10">															
                                <div class="ui search focus mt-30 lbel25">
                                  <label>Number of questions</label>
                                  <div class="ui left icon input swdh19">
                                    <input class="prompt srch_explore" type="text" name="number_2" id="id_number_2" placeholder="Number of questions" value="{{number_2}}">
                                    <button type="submit" class="btn1542">Submit</button>
                                  </div>
                                </div>					
                              </div>
                            </div>
                          </form>
                          <form action="{% url 'home:platform' course lesson_name 2 %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Title</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="title" id="id_title" placeholder="Title">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Description</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="description" id="id_description" placeholder="Description">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              {% for i in number_2 %}
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Add Question {{i}}</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="question{{i}}" id="id_question{{i}}" placeholder="Question">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 col-md-6">	
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 1</label>
                                    <div class="ui left icon input swdh19">
                                      <!-- <label> -->
                                        <!-- <input class="prompt srch_explore" type="text" name="" placeholder="Option 1"> -->
                                        <label class="checkbox1"><input type="checkbox" name="true{{i}}1"  value="" id="id_true{{i}}1" ></label>
                                        <label for="file{{i}}1">
                                          <i class="fa fa-image"></i>
                                          <input type="file" id="file{{i}}1" style="display: none" name="option{{i}}1_image" multiple="" data-original-title="upload photos">
                                          <div id="filename{{i}}1"></div>
                                        </label>
                                  </div>
                                </div>
                                </div>
                                <div class="col-lg-6 col-md-6">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 2</label>
                                    <div class="ui left icon input swdh19">
                                      <!-- <input class="prompt srch_explore" type="text" name="option2" id="id_option2" placeholder="Option 2"> -->
                                      <label class="checkbox1"><input type="checkbox" name="true{{i}}2"  value="" id="id_true{{i}}2" ></label>
                                      <label for="file{{i}}2">
                                        <i class="fa fa-image"></i>
                                        <input type="file" id="file{{i}}2" style="display: none" name="option{{i}}2_image" multiple="" data-original-title="upload photos">
                                        <div id="filename{{i}}2"></div>
                                      </label>
                                    </div>
                                    </div>
                                  </div>
                              </div>
                             
                              <div class="row">
                                <div class="col-lg-6 col-md-6">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 3</label>
                                    <div class="ui left icon input swdh19">
                                      <!-- <input class="prompt srch_explore" type="text" name="option3" id="id_option3" placeholder="Option 3"> -->
                                      <label class="checkbox1"><input type="checkbox" name="true{{i}}3"  value="" id="id_true{{i}}3" ></label>
                                      <label for="file{{i}}3">
                                        <i class="fa fa-image"></i>
                                        <input type="file" id="file{{i}}3" style="display: none" name="option{{i}}3_image"  multiple="" data-original-title="upload photos">
                                        <div id="filename{{i}}3"></div>
                                      </label>
                                      
                                    </div>
                                  </div>					
                                </div>
                                <div class="col-lg-6 col-md-6">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 4</label>
                                    <div class="ui left icon input swdh19">
                                      <!-- <input class="prompt srch_explore" type="text" name="option4" id="id_option4" placeholder="Option 4"> -->
                                      <label class="checkbox1"><input type="checkbox" name="true{{i}}4"  value="" id="id_true{{i}}4" ></label> 
                                      <label for="file{{i}}4">
                                        <i class="fa fa-image"></i>
                                        <input type="file" id="file{{i}}4" style="display: none" name="option{{i}}4_image" multiple="" data-original-title="upload photos">
                                        <div id="filename{{i}}4"></div>
                                      </label>
                                      
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              {% endfor %}
                        </div>
                        <div class="header_center">
                          <button type="submit" class="btn1542">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
              </form>
            </div>
            <div id="TextMCQs">
              
                <div class="step-content">
                  <div class="step-tab-panel" >
                    <div class="tab-from-content">
                      <div class="title-icon">
                        <h3 class="title"><i class="uil uil-film"></i>MCQs (Text as Options)</h3>
                      </div>
                      <div class="course__form">
                        <div class="view_info10">
                              <form action="{% url 'home:platform' course lesson_name 31 %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                  <div class="col-lg-10 col-md-10">															
                                    <div class="ui search focus mt-30 lbel25">
                                      <label>Number of questions</label>
                                      <div class="ui left icon input swdh19">
                                        <input class="prompt srch_explore" type="text" name="number_3" id="id_number_3" placeholder="Number of questions">
                                        <button type="submit" class="btn1542">Submit</button>
                                      </div>
                                    </div>					
                                  </div>
                                </div>
                              </form>
                              <form action="{% url 'home:platform' course lesson_name 3 %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Title</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="title" id="id_title" placeholder="Title">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Description</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="description" id="id_description" placeholder="Description">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              {% for i in number_3 %}
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label><b>Add Question {{i}}</b></label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="question{{i}}" id="id_question{{i}}" placeholder="Question">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 col-md-6">	
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 1</label>
                                    <div class="ui left icon input swdh19">
                                      <!-- <label> -->
                                        <input class="prompt srch_explore" type="text" name="option{{i}}1" id="id_option{{i}}1" placeholder="Option 1">
                                        <label class="checkbox1"><input type="checkbox" name="true{{i}}1"  value="" id="id_true{{i}}1" ></label>
                                  </div>
                                </div>
                                </div>
                                <div class="col-lg-6 col-md-6">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 2</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="option{{i}}2" id="id_option{{i}}2" placeholder="Option 2">
                                      <label class="checkbox1"><input type="checkbox" name="true{{i}}2"  value="" id="id_true{{i}}2" ></label>
                                    </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 col-md-6">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 3</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="option{{i}}3" id="id_option{{i}}3" placeholder="Option 3">
                                      <label class="checkbox1"><input type="checkbox" name="true{{i}}3"  value="" id="id_true{{i}}3" ></label>
                                    </div>
                                  </div>					
                                </div>
                                <div class="col-lg-6 col-md-6">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 4</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="option{{i}}4" id="id_option{{i}}4" placeholder="Option 4">
                                      <label class="checkbox1"><input type="checkbox" name="true{{i}}4"  value="" id="id_true{{i}}4" ></label>
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              {% endfor %}
                        </div>
                        <br>
                        <div class="header_center">
                          <button type="submit" class="btn1542">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
              </form>
            </div>
            <div id="DragDropImage">
              <div class="step-content">
                <div class="step-tab-panel" >
                  <div class="tab-from-content">
                    <div class="title-icon">
                      <h3 class="title"><i class="uil uil-film"></i>Drag Drop Image</h3>
                    </div>
                    <div class="course__form">
                      <div class="view_info10">
                        
                        <form action="{% url 'home:platform' course lesson_name 41 %}" method="POST">
                          {% csrf_token %}
                          <div class="row">
                            <div class="col-lg-10 col-md-10">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Title</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="number_4" id="id_number_4" placeholder="Number of questions">
                                  <button type="submit" class="btn1542">Submit</button>
                                </div>
                              </div>					
                            </div>
                          </div>
                        </form>
                        <form action="{% url 'home:platform' course lesson_name 4 %}" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                            <div class="row">
                              <div class="col-lg-12 col-md-12">															
                                <div class="ui search focus mt-30 lbel25">
                                  <label>Title</label>
                                  <div class="ui left icon input swdh19">
                                    <input class="prompt srch_explore" type="text" name="title" id="id_title" placeholder="Title">
                                  </div>
                                </div>					
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-12 col-md-12">															
                                <div class="ui search focus mt-30 lbel25">
                                  <label>Description</label>
                                  <div class="ui left icon input swdh19">
                                    <input class="prompt srch_explore" type="text" name="description" id="id_description" placeholder="Description">
                                  </div>
                                </div>					
                              </div>
                            </div>
                            {% for i in number_4 %}
                            <div class="row" id="FILLUP">
                              <div class="col-lg-6 col-md-12" id="repeatFillUp">
                                <div class="ui search focus mt-30 lbel25">
                                  <label>Upload Image File</label>
                                <input id="image_file{{i}}" name="image_file{{i}}" type="file">
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-12">
                                <div class="ui search focus mt-30 lbel25">
                                  <label>Correct Match</label>
                                  <div class="ui left icon input swdh19">
                                    <input class="prompt srch_explore" type="text" name="answer{{i}}" id="id_answer{{i}}" placeholder="Correct answer">
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% endfor %}
                      </div>
                      <br>
                      <div class="header_center">
                        <button type="submit" class="btn1542">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </form>
          </div>
          <div id="DragDropAudio">
            <div class="step-content">
              <div class="step-tab-panel" >
                <div class="tab-from-content">
                  <div class="title-icon">
                    <h3 class="title"><i class="uil uil-film"></i>Drag Drop Audio</h3>
                  </div>
                  <div class="course__form">
                    <div class="view_info10">
                      
                      <form action="{% url 'home:platform' course lesson_name 51 %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-lg-10 col-md-10">															
                            <div class="ui search focus mt-30 lbel25">
                              <label>Title</label>
                              <div class="ui left icon input swdh19">
                                <input class="prompt srch_explore" type="text" name="number_5" id="id_number_5" placeholder="Number of questions">
                                <button type="submit" class="btn1542">Submit</button>
                              </div>
                            </div>					
                          </div>
                        </div>
                      </form>
                      <form action="{% url 'home:platform' course lesson_name 5 %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                          <div class="row">
                            <div class="col-lg-12 col-md-12">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Title</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="title" id="id_title" placeholder="Title">
                                </div>
                              </div>					
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-md-12">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Description</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="description" id="id_description" placeholder="Description">
                                </div>
                              </div>					
                            </div>
                          </div>
                          {% for i in number_5 %}
                          <div class="row" id="FILLUP">
                            <div class="col-lg-6 col-md-12" id="repeatFillUp">
                              <div class="ui search focus mt-30 lbel25">
                                <label>Upload Audio File</label>
                              <input id="audio_file{{i}}" name="audio_file{{i}}" type="file">
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                              <div class="ui search focus mt-30 lbel25">
                                <label>Correct Match</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="answer{{i}}" id="id_answer{{i}}" placeholder="Correct answer">
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                    </div>
                    <br>
                    <div class="header_center">
                      <button type="submit" class="btn1542">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </form>
        </div>
            <div id="DragDropText">
                <div class="step-content">
                  <div class="step-tab-panel" >
                    <div class="tab-from-content">
                      <div class="title-icon">
                        <h3 class="title"><i class="uil uil-film"></i>Drag Drop Text</h3>
                      </div>
                      <div class="course__form">
                        <div class="view_info10">
                          
                          <form action="{% url 'home:platform' course lesson_name 61 %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                              <div class="col-lg-10 col-md-10">															
                                <div class="ui search focus mt-30 lbel25">
                                  <label>Title</label>
                                  <div class="ui left icon input swdh19">
                                    <input class="prompt srch_explore" type="text" name="number_6" id="id_number_6" placeholder="Number of questions">
                                    <button type="submit" class="btn1542">Submit</button>
                                  </div>
                                </div>					
                              </div>
                            </div>
                          </form>
                          <form action="{% url 'home:platform' course lesson_name 6 %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Title</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="title" id="id_title" placeholder="Title">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Description</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="description" id="id_description" placeholder="Description">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              {% for i in number_6 %}
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Add a correct pair</label>
                                      <div class="row">
                                        <div class="column mr-5 mb-5">
                                          <div class="ui left icon input swdh19">
                                            <input class="prompt srch_explore" type="text" name="text{{i}}1" id="id_text{{i}}1" placeholder="Column A">
                                          </div>
                                        </div>
                                        <div class="column mr-5 mb-5">
                                          <div class="ui left icon input swdh19">
                                            <input class="prompt srch_explore" type="text" name="text{{i}}2" id="id_text{{i}}2" placeholder="Column B">
                                          </div>
                                        </div>
                                      </div>
                                  </div>					
                                </div>
                              </div>
                              {% endfor %}
                        </div>
                        <br>
                        <div class="header_center">
                          <button type="submit" class="btn1542">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
              </form>
            </div>
            <br>
            
        </div>
      </div>
      <br>
  </div>
  </div>

<script>

var input11 = document.getElementById( 'file11' );
var infoArea11 = document.getElementById( 'filename11' );
var input12 = document.getElementById( 'file12' );
var infoArea12 = document.getElementById( 'filename12' );
var input13 = document.getElementById( 'file13' );
var infoArea13 = document.getElementById( 'filename13' );
var input14 = document.getElementById( 'file14' );
var infoArea14 = document.getElementById( 'filename14' );

var input21 = document.getElementById( 'file21' );
var infoArea21 = document.getElementById( 'filename21' );
var input22 = document.getElementById( 'file22' );
var infoArea22 = document.getElementById( 'filename22' );
var input23 = document.getElementById( 'file23' );
var infoArea23 = document.getElementById( 'filename23' );
var input24 = document.getElementById( 'file24' );
var infoArea24 = document.getElementById( 'filename24' );

input11.addEventListener( 'change', showFileName11 );
input12.addEventListener( 'change', showFileName12);
input13.addEventListener( 'change', showFileName13 );
input14.addEventListener( 'change', showFileName14 );

input21.addEventListener( 'change', showFileName21 );
input22.addEventListener( 'change', showFileName22);
input23.addEventListener( 'change', showFileName23 );
input24.addEventListener( 'change', showFileName24 );

function showFileName11( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea11.textContent = fileName;
}

function showFileName12( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea12.textContent = fileName;
}

function showFileName13( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea13.textContent = fileName;
}

function showFileName14( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea14.textContent = fileName;
}

function showFileName21( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea21.textContent = fileName;
}

function showFileName22( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea22.textContent = fileName;
}

function showFileName23( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea23.textContent = fileName;
}

function showFileName24( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea24.textContent = fileName;
}

</script>

</body>
</html>
