{% load static %}
{% include 'home/header.html' %}
{% include 'home/instructor_sidenav.html' %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {font-family: 'Roboto', sans-serif;}

#slide {
    color: black;
    display: block;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: -33.5%;
  top: 60px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 5px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;

}

.card-header {
  background-color: #ffecec;
  border-color:  #ed2a26;
}

</style>
</head>
<body>
  <div class="wrapper">
      <div class="container">
        <div class="row">
					<div class="col-lg-10">	
            <h2 class="st_title">
              <i class="uil uil-book-alt"></i>
              {{lesson_name}}
            </h2>
            <h4>{{description}}</h4>
          </div>	
          <div class="col-lg-2">	
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #ed2a26; color: white;">Add Slide
              <!-- <span class="caret"></span> -->
              </button>
              
              <ul class="dropdown-menu">
                  <li><a href="#Tutorial" aria-controls="tutorial">Tutorial</a></li>
                  <li><a href="#FillUps" onclick="repeatDivElement()">Fill in the blanks</a></li>
                  <li><a href="#ImageMCQs" aria-controls="ImageMCQs">MCQs (Image as options)</a></li>
                  <li><a href="#TextMCQs">MCQs (Text as options)</a></li>
                  <li><a href="#">Drag Drop Image</a></li>
                  <li><a href="#">Drag Drop Audio</a></li>
                  <li><a href="#">Drag Drop Text</a></li>
              </ul>
          </div>
          </div>         						
        </div>
        <br><br>
        <div class="row">
          <div class="col-lg-3">
            <div id="accordion">
              {% for slide in slides %}
                <div class="card">
                  <div class="card-header" id="heading{{slide.id}}">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{slide.id}}" aria-expanded="false" aria-controls="collapse{{slide.id}}" style="color: #ed2a26; text-decoration: none;">
                        {{slide.name}}
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapse{{slide.id}}" class="collapse" aria-labelledby="heading{{slide.id}}" data-parent="#accordion">
                    <div class="card-body">
                      {{slide.description}}
                      <a href="#" title="Edit" class="gray-s"><i class="uil uil-edit-alt" style="color: #ed2a26;"></i></a>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
          </div>
          <div class="col-lg-9">
            <div id="Tutorial">
              <form action="{% url 'home:platform' course lesson_name 0 %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="step-content">
                  <div class="step-tab-panel" id="tutorial">
                    <div class="tab-from-content">
                      <div class="title-icon">
                        <h3 class="title"><i class="uil uil-film"></i>Tutorial Content</h3>
                      </div>
                      <div class="course__form">
                        <div class="view_info10">
                          <div class="row">
                            <div class="col-lg-12 col-md-12">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Title</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="title" id="id_title" placeholder="Title">
                                </div>
                              </div>					
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-md-12">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Description</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="description" id="id_description" placeholder="Description">
                                </div>
                              </div>					
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-md-12">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Add Content</label>
                                <div class="ui left icon input swdh19">
                                  <textarea type="text" name="content" id="id_content" placeholder="Content" style="width: 100%; height: 300%;"></textarea>
                                </div>
                              </div>					
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-md-12">
                              <div class="ui search focus mt-30 lbel25">
                                <label>Upload Video File</label>
                              <input id="video_file" name="video_file" type="file">
                              </div>
                          </div>
                          </div>
                          <div class="header_center">
                            <button type="submit" class="btn1542">Submit</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>  
                </div>
              </form>
            </div>
            <div id="FillUps">
              <form action="{% url 'home:platform' course lesson_name 1 %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="step-content">
                  <div class="step-tab-panel">
                    <div class="tab-from-content">
                      <div class="title-icon">
                        <h3 class="title"><i class="uil uil-film"></i>Fill in the blanks</h3>
                      </div>
                      <div class="course__form">
                        <div class="view_info10">
                          <div class="row">
                            <div class="col-lg-12 col-md-12">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Title</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="title" id="id_title" placeholder="Title">
                                </div>
                              </div>					
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-md-12">															
                              <div class="ui search focus mt-30 lbel25">
                                <label>Description</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="description" id="id_description" placeholder="Description">
                                </div>
                              </div>					
                            </div>
                          </div>
                          <div class="row" id="FILLUP">
                            <div class="col-lg-6 col-md-12" id="repeatFillUp">
                              <div class="ui search focus mt-30 lbel25">
                                <label>Upload Image File</label>
                              <input id="image_file" name="image_file" type="file">
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                              <div class="ui search focus mt-30 lbel25">
                                <label>Correct Answer</label>
                                <div class="ui left icon input swdh19">
                                  <input class="prompt srch_explore" type="text" name="answer" id="id_answer" placeholder="Correct answer">
                                </div>
                              </div>
                            </div>
                          </div>
                          <br>
                          <div class="header_center">
                            <button type="submit" class="btn1542">Submit</button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>  
                </div>
              </form>
            </div>
            <div id="ImageMCQs">
              <form action="{% url 'home:platform' course lesson_name 2 %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="step-content">
                  <div class="step-tab-panel" >
                    <div class="tab-from-content">
                      <div class="title-icon">
                        <h3 class="title"><i class="uil uil-film"></i>MCQs (Image as Options)</h3>
                      </div>
                      <div class="course__form">
                        <div class="view_info10">
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Title</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="title" id="id_title" placeholder="Title">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Description</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="description" id="id_description" placeholder="Description">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Add Question</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="question" id="id_question" placeholder="Question">
                                      <!-- <label for="file">
                                        <i class="fa fa-image"></i>
                                        <input type="file" id="file" style="display: none" name="question_image" multiple="" data-original-title="upload photos">
                                        <div id="filename"></div>
                                      </label>
                                      <label for="_file">
                                        <i class="fa fa-microphone"></i>
                                        <input type="file" id="_file" style="display: none" name="question_audio" accept="mp3" multiple="" data-original-title="upload photos">
                                        <div id="_filename"></div>
                                      </label> -->
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 col-md-6">	
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 1</label>
                                    <div class="ui left icon input swdh19">
                                      <!-- <label> -->
                                        <!-- <input class="prompt srch_explore" type="text" name="" placeholder="Option 1"> -->
                                        <label class="checkbox1"><input type="checkbox" name="true1"  value="" id="id_true1" ></label>
                                        <label for="file1">
                                          <i class="fa fa-image"></i>
                                          <input type="file" id="file1" style="display: none" name="option1_image" multiple="" data-original-title="upload photos">
                                          <div id="filename1"></div>
                                        </label>
                                  </div>
                                </div>
                                </div>
                                <div class="col-lg-6 col-md-6">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 2</label>
                                    <div class="ui left icon input swdh19">
                                      <!-- <input class="prompt srch_explore" type="text" name="option2" id="id_option2" placeholder="Option 2"> -->
                                      <label class="checkbox1"><input type="checkbox" name="true2"  value="" id="id_true2" ></label>
                                      <label for="file2">
                                        <i class="fa fa-image"></i>
                                        <input type="file" id="file2" style="display: none" name="option2_image" multiple="" data-original-title="upload photos">
                                        <div id="filename2"></div>
                                      </label>
                                    </div>
                                    </div>
                                  </div>
                              </div>
                             
                              <div class="row">
                                <div class="col-lg-6 col-md-6">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 3</label>
                                    <div class="ui left icon input swdh19">
                                      <!-- <input class="prompt srch_explore" type="text" name="option3" id="id_option3" placeholder="Option 3"> -->
                                      <label class="checkbox1"><input type="checkbox" name="true3"  value="" id="id_true3" ></label>
                                      <label for="file3">
                                        <i class="fa fa-image"></i>
                                        <input type="file" id="file3" style="display: none" name="option3_image"  multiple="" data-original-title="upload photos">
                                        <div id="filename3"></div>
                                      </label>
                                      
                                    </div>
                                  </div>					
                                </div>
                                <div class="col-lg-6 col-md-6">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 4</label>
                                    <div class="ui left icon input swdh19">
                                      <!-- <input class="prompt srch_explore" type="text" name="option4" id="id_option4" placeholder="Option 4"> -->
                                      <label class="checkbox1"><input type="checkbox" name="true4"  value="" id="id_true4" ></label> 
                                      <label for="file4">
                                        <i class="fa fa-image"></i>
                                        <input type="file" id="file4" style="display: none" name="option4_image" multiple="" data-original-title="upload photos">
                                        <div id="filename4"></div>
                                      </label>
                                      
                                    </div>
                                  </div>					
                                </div>
                              </div>
                        </div>
                        <div class="header_center">
                          <button type="submit" class="btn1542">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
              </form>
            </div>
            <div id="TextMCQs">
              <form action="{% url 'home:platform' course lesson_name 3 %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="step-content">
                  <div class="step-tab-panel" >
                    <div class="tab-from-content">
                      <div class="title-icon">
                        <h3 class="title"><i class="uil uil-film"></i>MCQs (Text as Options)</h3>
                      </div>
                      <div class="course__form">
                        <div class="view_info10">
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Title</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="title" id="id_title" placeholder="Title">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Description</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="description" id="id_description" placeholder="Description">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12 col-md-12">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Add Question</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="question" id="id_question" placeholder="Question">
                                    </div>
                                  </div>					
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 col-md-6">	
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 1</label>
                                    <div class="ui left icon input swdh19">
                                      <!-- <label> -->
                                        <input class="prompt srch_explore" type="text" name="option1" id="id_option1" placeholder="Option 1">
                                        <label class="checkbox1"><input type="checkbox" name="true1"  value="" id="id_true1" ></label>
                                  </div>
                                </div>
                                </div>
                                <div class="col-lg-6 col-md-6">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 2</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="option2" id="id_option2" placeholder="Option 2">
                                      <label class="checkbox1"><input type="checkbox" name="true2"  value="" id="id_true2" ></label>
                                    </div>
                                    </div>
                                  </div>
                              </div>
                             
                              <div class="row">
                                <div class="col-lg-6 col-md-6">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 3</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="option3" id="id_option3" placeholder="Option 3">
                                      <label class="checkbox1"><input type="checkbox" name="true3"  value="" id="id_true3" ></label>
                                    </div>
                                  </div>					
                                </div>
                                <div class="col-lg-6 col-md-6">															
                                  <div class="ui search focus mt-30 lbel25">
                                    <label>Option 4</label>
                                    <div class="ui left icon input swdh19">
                                      <input class="prompt srch_explore" type="text" name="option4" id="id_option4" placeholder="Option 4">
                                      <label class="checkbox1"><input type="checkbox" name="true4"  value="" id="id_true4" ></label>
                                    </div>
                                  </div>					
                                </div>
                              </div>
                        </div>
                        <br>
                        <div class="header_center">
                          <button type="submit" class="btn1542">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
              </form>
            </div>
            
            <br>
            
        </div>
      </div>
      <br>
  </div>
  </div>

<script>
var input1 = document.getElementById( 'file1' );
var infoArea1 = document.getElementById( 'filename1' );
var input2 = document.getElementById( 'file2' );
var infoArea2 = document.getElementById( 'filename2' );
var input3 = document.getElementById( 'file3' );
var infoArea3 = document.getElementById( 'filename3' );
var input4 = document.getElementById( 'file4' );
var infoArea4 = document.getElementById( 'filename4' );

input1.addEventListener( 'change', showFileName1 );
input2.addEventListener( 'change', showFileName2);
input3.addEventListener( 'change', showFileName3 );
input4.addEventListener( 'change', showFileName4 );

function showFileName1( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea1.textContent = fileName;
}

function showFileName2( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea2.textContent = fileName;
}

function showFileName3( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea3.textContent = fileName;
}

function showFileName4( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  infoArea4.textContent = fileName;
}

function repeatDivElement() {
  for(var i = 1; i <= 3; i++) { 
  var str = document.getElementById('repeatFillUp'), 
  span = document.createElement('div'); 
  span.innerHTML = str; 
  console.log(span);
  var body = document.getElementById('FILLUP'); 
  
  console.log("Body is: " + body);
  body.appendChild(str); 
}
}
</script>

</body>
</html>
